/* ---------------------------------- */
/* SEÇÃO NOSSA EQUIPE (DETALHADA)  */
/* ---------------------------------- */

.team-details-section .section-title,
.team-details-section .section-subtitle {
    text-align: center; /* Garante que estejam centralizados */
    margin-left: auto;   ;
    margin-right: auto;  
}


.team-details-section .section-subtitle {
    max-width: 800px; /* Limita a largura para centralizar */
}



main{
    padding: 200px 0;
   
}






.team-details-section {
    padding: 80px 0 0 0; 
    background-color: #0d0d0d;
    font-size: 20px;
}

    /* borda roxa quando passar o mouse em cima */
.team-member-detail:hover  {
 
    border: 5px solid #a020f0;
    transition: border 0.3s ease;
}

.team-member-detail.right-image:hover{
    border: 5px solid #ffffff;
    transition: border 0.3s ease-out;
}

.team-member-detail {
    display: flex;
    align-items: center;
    gap: 0; 
    
    margin-bottom: 0; 
    padding: 50px 0; 
    
    background-color: #0f0f0f; /* Cor da Seção Ímpar */
}

/* Background para seções pares (right-image) para alternar o visual */
.team-member-detail.right-image {
    flex-direction: row-reverse; 
    background-color: #141313; /* Cor da Seção Par */
}

.member-photo {
    flex-shrink: 0; 
    width: 50%; 
    
    max-width: none; 
    
    overflow: hidden;
    height: 450px; 
    
}

.member-photo img {
    display: block;
    width: 100% ;
    height: 100% ; 
    object-fit: cover; 

    
    
    
}


.aurora-photo img {
   
    object-position: 50% 20%;
    
}


.orion-photo img {
   
    object-position: 50% 50%;
    
}

.lira-photo img {
   width: 80% ;
   
    object-position: 50% 55%;
    

}





.apolo-photo img {
   width: 80% ;
   position: relative;
   margin-left: auto; 
    margin-right: 0;
    object-position: 50% 20%;
        
    

}







.member-description {

    flex-grow: 1;
    width: 45%; 
    max-width: none; 
    padding-bottom: 100px;
}

/* ESTILOS PARA O CONTAINER DENTRO DA DESCRIÇÃO */
.member-description .container {
    width: 100%; /* Largura do container interno */
    max-width: 600px; /* Limite a largura do texto para melhor leitura */
    margin: 0 auto; /* Centraliza o container interno */
    padding: 0 ; /* Remove padding padrão do container */
    
}


.member-description h3 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    
}

.member-description .role {
    font-size: 20px;
    font-weight: 500;
    color: #aaa;
    margin-bottom: 20px;
    display: block;
}

/* Responsividade - Ajuste para celulares */
@media (max-width: 768px) {
    .team-member-detail,
    .team-member-detail.right-image {
        flex-direction: column; 
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .member-photo {
        width: 100%; 
        height: 250px;
       
    }
    
    .member-description {
        width: 100%;
        padding: 0; /* Remove o padding da descrição */
    }

    /* Container dentro da descrição em mobile */
    .member-description .container {
        width: 90%; 
        max-width: none; 
        padding: 0 10px; /*  padding lateral */
    }

    .member-description .role {
        margin-bottom: 10px;
    }
}